.skills-section {
  background-color: black;
}

.about-header {
  padding: 1rem;
}
.about-section {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.section-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.frontend,
.backend {
  border: 1px solid white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  margin: 2rem;
  border-radius: 10px;
  height: 250px;
  width: 35%;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.frontend:hover {
  background-color: #f2efe9;
  color: black;
}
.backend:hover {
  background-color: #f2efe9;
  color: black;
}

.skills-items {
  align-items: center;
  /* justify-content: center; */
  font-size: 18px;
  font-family: 'zephyrregular';
}

.front-title,
.back-title {
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin: 1rem;
}

.front-end-list,
.back-end-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 30%;
  flex-wrap: wrap;
}

.about-text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .about-text {
    font-size: 18px;
  }
  .frontend,
  .backend {
    width: 80%;
  }
  .section-divider {
    flex-direction: column;
  }
  .front-end-list,
  .back-end-list {
    width: 110%;
  }
  .front-title,
  .back-title {
    font-size: 20px;
  }

  .skills-items {
    font-size: 18px;
  }
}
