@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&family=Readex+Pro:wght@200;300;400;500;700&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  overscroll-behavior-x: contain;
}

body {
  margin: 0;
}

.app-container {
  background-color: #f2efe9;
}

/* -----Scroll Section----- */
