@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&family=Readex+Pro:wght@200;300;400;500;700&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app-container {
  background-color: #f2efe9;
}

/* -----Scroll Section----- */

.scroll-container {
  height: 800px;
}

/* .scroller {
  margin-top: 800px;
  height: 900px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  transform: scale(1.8);
}
.scroller section {
  scroll-snap-align: start;
} */

.scroller {
  display: flex;
  margin-top: 800px;
  height: 900px;
  width: 800px;
  overflow: auto;
  white-space: nowrap;
  transform: scale(1.8);
}
.scroller section {
  display: inline-block;
}
