.footer {
  height: 300px;
  /* border-top: 1px solid black; */
  /* background: linear-gradient(
    90deg,
    rgba(242, 175, 92, 0.52) 0%,
    rgba(238, 130, 238, 0.38) 100%
  ); */
  /* background: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-input,
.footer-icons {
  /* display: inline-block; */
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;

  color: black;
}

.footer-icons {
  font-size: 30px;
  color: black;
}

.footer-input {
  width: 50%;
  font-family: 'zephyrregular';
  font-size: 35px;
  align-items: center;
  justify-content: center;
}

.footer-link {
  text-decoration: none;
  color: black;
}

.footer-link:hover {
  color: grey;
  cursor: pointer;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.magic {
  font-family: 'zephyrregular';
  font-style: italic;
}

/* ---Media Query */
@media only screen and (max-width: 480px) {
  .footer {
    display: flex;
  }

  .footer-input.container {
    margin-top: 20px;
    font-size: 20px;
  }

  .footer-text {
    font-size: 15px;
  }
}
