.clouds-video {
  height: 360px;
  width: 100%;
  object-fit: cover;
  /* width: 50%; */
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  /* border: 1px solid black; */
  mix-blend-mode: multiply;
  padding-bottom: 0;
  margin-bottom: 0;
  z-index: 2;
  display: flex;
}

.quote-container {
  position: absolute;
  margin: 0 auto;
  display: flex;
  /* z-index: 9; */
  justify-content: center;
  align-items: center;
  height: 330px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.quote-text {
  font-family: 'zephyrregular';
  align-items: center;
  align-content: center;
  font-size: 45px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

/* .quote-italicize {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
} */

.alan-watts {
  font-size: 25px;
}

.video-shape {
  bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
}

.gd-marquee-container {
  background-color: #dafdba;
  height: 50px;
  width: 100%;
  min-height: initial !important;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* .gd-marquee-container {
  animation: pulse 7s infinite;
}

@keyframes pulse {
  0% {
    background-color: #04c4d9;
  }
  100% {
    background-color: #b2e881;
  }
} */

.other-gd-work {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  white-space: pre !important;
  min-width: 100%;
  text-align: center;
  line-height: 1em;
  animation: moveLeft 15s linear infinite;
  justify-content: center;
  align-items: center;
}

@keyframes moveLeft {
  from {
    transform: translateX(-0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.graphic-design-container {
  display: flex;
}

.design-verticle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 30px;
  font-family: 'zephyrregular';
}

.design-container {
  display: flex;
  flex-direction: row;
}

.gd-title {
  align-items: center;
  justify-content: center;
}

.gd-image {
  height: 300px;
  width: 335px;
  border-radius: 20px;
  border: 1px solid black;
  filter: grayscale(100%);
}

.gd-image:hover {
  filter: grayscale(0%);
}
.infoCard:hover {
  filter: grayscale(0%);
}

.graphic-slider {
  height: 400px;
}

section.graphic-stuff-imade {
  width: 250px important!;
}

.gd-section {
  margin-left: 10px;
  margin-right: 10px;
  width: 100vh;
}

.graphic-design-section {
  background: black;
  margin-top: 0;
  /* background: linear-gradient(
    359deg,
    rgba(152, 135, 113, 1) 0%,
    rgba(242, 239, 233, 1) 100%
  ); */
}

.things.gd-things {
  color: white;
}

.infoCard {
  width: 400px;
  border-radius: 10px;
  filter: grayscale(100%);
}

.breathe,
.jenna {
  width: 300px;
  height: 300px;
  border: 1px solid grey;
}

@media only screen and (max-width: 480px) {
  .gd-image {
    height: 200px;
    width: 235px;
    border-radius: 10px;
    border: 1px solid grey;
    filter: grayscale(0);
  }

  .gd-image:hover {
    filter: grayscale(100%);
  }
  .infoCard:hover {
    filter: grayscale(100%);
  }

  .infoCard {
    width: 250px;
    height: 200px;
    filter: grayscale(0);
  }
  .gd-section {
    /* margin-left: 5;
    margin-right: 5px; */
    width: 100vh;
    padding: 0;
    margin: 15px;
  }
  /* .work-item-container.stuff.gd-slider {
  } */

  .things.gd-things {
    font-size: 65%;
  }

  .arrow.gd-arrow {
    font-size: 35px;
  }

  /*  Cloud quote section */
  .quote-text {
    font-size: 24px;
  }

  .alan-watts {
    font-size: 16px;
  }
}
