.clouds-video {
  height: 130px;
  width: 100%;
  object-fit: cover;
  /* width: 50%; */
  border: 1px solid black;
  mix-blend-mode: multiply;
}
.gd-marquee-container {
  background-color: #dafdba;
  height: 50px;
  width: 100%;
  min-height: initial !important;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
}

.other-gd-work {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  white-space: pre !important;
  min-width: 100%;
  text-align: center;
  line-height: 1em;
  animation: moveLeft 10s linear infinite;
  justify-content: center;
  align-items: center;
}

@keyframes moveLeft {
  from {
    transform: translateX(-0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.graphic-design-container {
  display: flex;
}

.design-verticle {
  /* margin-top: 100px; */
  /* writing-mode: vertical-rl; */
  /* transform: rotate(180deg); */

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 30px;
  font-family: 'zephyrregular';
}

.design-container {
  display: flex;
  flex-direction: row;
}

.gd-title {
  align-items: center;
  justify-content: center;
}

.gd-image {
  /* transform: scale(1.2); */
  /* margin: 1rem; */
  border-radius: 20px;
  border: 1px solid black;
  filter: grayscale(100%);
}

.gd-image:hover {
  filter: grayscale(0%);
}
.infoCard:hover {
  filter: grayscale(0%);
}

.graphic-slider {
  height: 400px;
}

section.graphic-stuff-imade {
  width: 250px important!;
}

.gd-section {
  margin-left: 10px;
  margin-right: 10px;
  width: 100vh;
}

/* Slider  */

/* Scrollbar */
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #957a8e;
  border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #957a8e;
} */

.graphic-design-section {
  background: black;
  margin-top: 0;
  /* background: linear-gradient(
    359deg,
    rgba(152, 135, 113, 1) 0%,
    rgba(242, 239, 233, 1) 100%
  ); */
}

.things.gd-things {
  color: white;
}

.infoCard {
  width: 400px;
  border-radius: 10px;
  filter: grayscale(100%);
}

@media only screen and (max-width: 480px) {
  .gd-image {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid grey;
  }

  .infoCard {
    width: 250px;
    height: 200px;
  }
  .gd-section {
    /* margin-left: 5;
    margin-right: 5px; */
    width: 100vh;
    padding: 0;
    margin: 15px;
  }
  /* .work-item-container.stuff.gd-slider {
  } */

  .things.gd-things {
    font-size: 65%;
  }

  .arrow.gd-arrow {
    font-size: 35px;
  }
}
