.clouds-video {
  height: 130px;
  width: 100%;
  object-fit: cover;
  /* width: 50%; */
  border: 1px solid black;
  mix-blend-mode: multiply;
}

/* .video-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
} */

.design-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  /* padding: 2rem; */
}

.gd-text-container {
  /* border: 1px solid purple; */
  /* display: flex;
  width: 50%;
  align-items: center;
  justify-content: center; */
}

.gd-title {
  align-items: center;
  justify-content: center;
}

.gd-image {
  /* border: 1px solid black;
  border-radius: 70px; */
  transform: scale(1.2);
  margin: 1rem;
}

.graphic-slider {
  height: 400px;
}

section.graphic-stuff-imade {
  width: 250px important!;
}

.gd-section {
  margin-left: 100px;
  margin-right: 100px;
}
