@font-face {
  font-family: 'zephyrregular';
  src: url('../font/zephyr-webfont.woff2');
  font-weight: normal;
  font-style: normal;
}
svg {
  margin-left: 35px;
}

/* svg:hover {
  box-shadow: 5px 10px 10px 5px white;
} */

.my-name-is {
  margin-left: 125px;
  font-size: 20px;
}

.heading {
  font-family: 'zephyrregular';
  font-size: 125px;
  font-weight: 100;
  margin: 0px 105px 0 0;
  margin-left: 105px;
}

.heading-container {
  border: 1px solid black;
}

.tagline {
  font-size: 45px;
  margin-top: 0px;
  margin-left: 105px;
  color: grey;
  width: 40%;
}

.landing-page-container {
  margin-top: 80px;
}

.landing-info {
  font-size: 30px;
  margin-left: 105px;
  width: 50%;
}

.landing-button {
  margin-left: 105px;
  width: 295px;
  height: 83px;
  border: 2px solid black;
  background-color: #f2efe9;
  border-radius: 20px;
  font-size: 25px;
}
