.style {
  transform: translate3d(0, 15px, 0);
}
/* centers text within the wavy fill */

.path-text {
  fill: none;
}

.path-bg {
  fill: transparent !important;
  /* fill: #dafdba !important; */
  /* stroke: black;
  stroke-width: 2px; */
  width: 1rem;
}

#path-span-two {
  fill: black !important;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

#text {
  color: black;
  width: 100%;
  height: 100%;
}

.wavy-path {
  top: 0;
  left: 0;
}

svg.wavy-svg-two {
  transform: scale(1.25) rotate(-15deg);
  margin-bottom: 250px;
}

/* ----Media Queries------ */
@media only screen and (max-width: 480px) {
  .path-bg {
    fill: #dafdba !important;
  }

  /* .path-bg {
    animation: pulse 7s infinite;
  } */

  /* @keyframes pulse {
    0% {
      
      fill: #04c4d9 !important;
    }
    100% {
      fill: #b2e881 !important;
    }
  } */

  #path-span-two {
    font-size: 50px !important;
  }

  .my-name-is {
    font-size: 15px;
  }

  svg.wavy-svg-two {
    transform: scale(1.5) rotate(-18deg);
    font-size: 30px;
    margin-top: 5rem;
  }
}
