.navbar-container {
  display: flex;
  padding: 1rem;
  justify-content: flex-start !important;
}

/* .navbar.flexend {
  justify-content: flex-end;
} */

.navlink,
.nav-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: black !important;
}

.nav-button:hover {
  color: grey !important;
}
.navlink:hover {
  color: grey !important;
}

.nav-button {
  background-color: #dafdba !important;
  /* background-color: #b2e881 !important; */
  color: black !important;
  margin-left: 5px;
}
.justify-content-end {
  justify-content: flex-start !important;
}

.collapse {
  display: flex;
}
@media only screen and (max-width: 480px) {
  .nav-button {
    margin-left: 0px;
  }
}
