.navbar {
  display: flex;
  justify-content: flex-end !important;
  /* border: 2px solid black; */
}

.navbar-container {
  /* font-size: 20px; */
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  position: fixed;
  margin-top: 80px;
}

a.navlink {
  text-decoration: none;
  color: black;
  margin: 15px;
  justify-content: flex-end !important;
  font-family: 'Roboto', sans-serif;
}

.navlink.resume {
  border: 1px solid black;
  padding: 0.5rem;
}
