.slider {
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
  /* -webkit-overflow-scrolling: touch; */
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.section {
  display: flex;
  color: white;
  color: black;
  align-items: center;
  /* border: 5px solid white;
  border-radius: 70px; */
  /* border-right: 1px solid white; */
  padding-top: 2rem;
  padding: 1rem;
  margin: 1rem;
  min-width: 100vw;
  height: 100vh;
  position: relative;
}

.section-stuff {
  padding: 1rem;
  margin: 1rem;
  min-width: 70vh;
  position: relative;
}

.things {
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.stuff {
  /* border: 1px solid black; */
  padding: 2rem;
  align-items: center;
  display: flex;
}

.arrow {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.4rem;
}
