.slider {
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
  /* -webkit-overflow-scrolling: touch; */
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  /* border: 1px solid black;
  margin: 2rem;
  border-radius: 20px; */
  margin-bottom: 100px;
  margin-top: 100px;
}
.section {
  display: flex;
  color: black;
  align-items: center;
  padding-top: 2rem;
  padding: 1rem;
  margin: 1rem;
  min-width: 100vw;
  position: relative;
}

.section-stuff {
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.things {
  display: flex;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  /* width: 100vh; */
}

.web-dev-things {
  display: flex;
  color: black;
  text-align: center;
  font-size: 30px;
  width: 300px;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 100vh;
}

.stuff {
  padding: 2rem;
  align-items: center;
}

.arrow {
  padding: 0.4rem;
  font-size: 50px;
}
